.current-conditions {
  
  >h2 {
    text-align: left;
  }
  
  >div {
    display: flex;
    justify-content: space-between;
    
    >:first-child {
      width: 20%;
    }
    
    >:last-child {
      width: 70%;
    }
  }
  
  table td {
    text-align: left;
  }
}